html {
    scroll-behavior: smooth;
    font-family: Arial bold;
}

.logo {
   
    background-image: no-repeat;
    margin: 50px;
    text-align: left;
    background-size: cover;
    width: 130px;
    height: 130px;
    position: fixed;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: rgb(8, 8, 8);

}

li {
    float: left;
    text-align: center;
    
}

li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(247, 247, 242);
    
}

li:hover, a:hover {
    background-color: white;
    color: black;
}

/* Navigation Bar */
.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: auto;
    left: 0;
    
    
}


/* Body */
body {
    
    font-family: "Calibri";
    font-weight: bold;
    
    margin: 0%;
}

.home, .portfolio, .contactus {
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: justify;

    

    
}


.aboutme, .services {
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 95vw;
    color:black;

}
.content, .font, .font2 {
    width: 50%;
}



.certificates, .booknow {
    background-color: yellow;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
;
}

.image {
    margin: 2%;
}
.font {
    color: white;
   
}

.font2 {
    text-align: justify;
    color: white;
}

.font3, .content {
    text-align: justify;
}





/* Book Us */


input.fnamelname{
	width: 45%;
	height: 28px;
	border: 1;
    outline: 0;
	
} 

input.email{
	width: 93%;
	height: 28px;
	border: 1;
    outline: 0;
} 




select.number{
	height: 34px;
	border: 1;
    outline: 0;

}
input.mobile{
	height: 29px;
	width: 81%;
	border: 1;
    outline: 0;

}

input.gender{
	width: 93%;
	height: 28px;
	border: 1;
}

select.month {
	width: 59%;
	height: 34px;
	border: 1;
    outline: 0;

}


input.day, .year{
	width: 15%;
	height: 28px;
	border: 1;


}

.btn {
	width: 394px;
	height: 50px;
	border-radius: 30px;
	border:none;
	background-color: black;
	color: white;
}

.btn:hover {
	background-color:white;
	color: black;
}

small.terms, .privacy, .signin{
	color: #42aaf5;
}

small.terms:hover{
	color: blue;
}

small.privacy:hover{
	color: blue;
}


/*Footer */
.footer {
    position: fixed;
    height: 90px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    background-color: black;
    padding: auto;
    left: 0;
    }
    

