

.img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:500px ) {
    .responsive {
        padding: 10px 20px; 
    }
    .responsive img {
        width: 100%;

    }
}


/* Body */


.home, .portfolio, .contactus {
    background-color: black;
    display: flex;
    align-items:center;
    justify-content: center;
    height: auto;
    width: 100%;
    text-align: justify;
    margin-top: auto;
    padding-top: 6%;
    padding-bottom: 20%;
    
}


.aboutme, .services {
    margin-top: 1%;
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    height: auto;
    width: 100%;
    color:black;
    padding-top: 6%;
    padding-bottom: 20%;
    

}
.content, .font, .font2 {
    width: 50%;
}

.certificates  {
    background-color: yellow;
    display: flex;
    align-items:center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 5%;

}

.booknow {
    background-color: yellow;
    display:block;
    align-items:center;
    justify-content: center;
    height: auto;
    width: auto;
    padding-top: 4%;
    padding-bottom: 5%;

}

/* Fonts */

.font {
    color: white;
    font-weight: bold;
    text-align: center;
   
}

.font2 {
    text-align: justify;
    color: white;
    
}

.font3, .content {
    text-align: justify;

    
}

.font4 {
    font-weight: bold;
    text-align: center;
}


/*Footer */
.footer {
    position: fixed;
    height: 90px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 115px;
    left: 0;
    }
    

