

.img-fluid {
    width: auto;
    height: 3.8in;
    margin-bottom: 5px;
}

@media screen and (max-width:500px ) {
    .responsive {
        padding: 10px 20px; 
    }
    .responsive img {
        width: 100%;

    }
}


/* Body */


.home, .portfolio, .contactus {
    background-color: black;
    height: auto;
    width: 100%;
    margin-top: auto;
    padding-top: 5%;
    padding-bottom: 20%;
    padding-left: 1;

    
}

.aboutme, .services {
    background-color: white;
    height: auto;
    width: 100%;
    color:black;
    padding-top: 5%;
    padding-bottom: 15%;
}
.content, .font, .font2 {
    width: 50%;
}

.certificates  {
    background-color: yellow;
    height: auto;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 5%;
 

}

.booknow {
    background-color: yellow;
    display:block;
    height: auto;
    width: auto;
    padding-top: 4%;
    padding-bottom: 5%;

}

/* Fonts */

.font {
    color: white;
    font-weight: bold;
    text-align: center;
   
}

.font2 {
    text-align:justify;
    color: white;
    
}

.font3, .content {
    text-align: justify;

    
}

.font4 {
    font-weight: bold;
    text-align: center;
}


/*Footer */
.footer {
    position: fixed;
    height: 86px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 50px;
    left: 0;
    }
    

